
<section>
<nav class="navbar navbar-default ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Freelancer</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/" th:text="#{menu.home}"></a></li>
                <li><a href="/job" th:text="#{menu.find_job}"></a></li>
            </ul>
            <ul class="nav nav-pills pull-right">
                <li sec:authorize="! isAuthenticated()" role="presentation"><a th:href="@{/login}" th:text="#{menu.login}"></a></li>
                <li sec:authorize="! isAuthenticated()" role="presentation"><a th:href="@{/register}" th:text="#{menu.register}"></a></li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/profile}" sec:authentication="principal.fullName"></a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/job/create}" th:text="#{menu.post_job}"></a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/profile} + '#bids'" th:text="#{menu.my_bids}"></a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/bid/my-contracts}" th:text="#{menu.my_contracts}"></a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/job?filter=myjobs}" th:text="#{menu.my_jobs}">My jobs</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/message}" th:text="#{menu.messages}">Messages</a>
                </li>
                
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}" th:text="#{menu.logout}">Log out</a>
                </li>
                
                <li><a href="?locale=eng_US">eng</a></li>
                <li><a href="?locale=rs_SR">срб</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
</section>