<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="frontend/partials/head(title=#{message.message_rooms.page_title})">
</head>
<!--<div th:include="frontend/partials/head"></div>-->
<body>
	<div th:replace="frontend/partials/menu"></div>
	<div class="container main-container">
		<div class="row">
			<div class="col-md-8">

				<h1 th:text="#{message.message_rooms.page_title}">My message rooms</h1>

				<table class="table table-stripped">
                    <tr>
                        <th th:text="#{user}">User</th>
                        <th th:text="#{message.message_rooms.last_message}">Last message</th>
                        <th th:text="#{job}">Job</th>
                        <th> </th>
                    </tr>

                    <tr th:each="message : ${messages}">
                        <td th:if="${message.sender.id == my_id}" th:text="${message.receiver.name}"></td>
                        <td th:if="${message.sender.id != my_id}" th:text="${message.sender.name}"></td>
                        
                        <td>
                        	<span th:text="${message.created}"></span><br />
                        	<i>
	                        	<span th:if="${#strings.length(message.text) &lt;= 20}" th:text="${message.text}"></span>
	                        	<span th:if="${#strings.length(message.text) &gt; 20}" th:text="${#strings.substring(message.text,0,20)}"></span>
	                        	...
                        	</i>
                        </td>
                        <td>
                        	<div th:if="${message.job != null}" th:text="${message.job.title}">-</div>
                       	</td>
                        <td>
 	                        	<a th:href="@{'/message/job_room/' + ${message.job != null ? message.job.id : 0} + '/' + ${message.sender.id == my_id ? message.receiver.id : message.sender.id}}"
	                        	   class="btn btn-primary">
	                        	   		<i class="glyphicon glyphicon-envelope"> </i>
	                       				<span th:text="#{open}">Open</span>
	                        	</a>
                        </td>
                    </tr>

                </table>

			</div>
			
		</div>
	</div>
</body>
</html>

