<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="frontend/partials/head(title=#{feedback.send.title})">
</head>
<body>
<div th:replace="frontend/partials/menu"></div>
<div class="container main-container">
    <div class="row">
        <div class="col-md-8">
        	<h1 th:text="#{feedback.send.title}"></h1>
        	
        	<p><span th:text="#{job}" class="bold"></span>: <span th:text="${bid.job.title}"></span></p>
        	<p><span th:text="#{contractor}" class="bold"></span>: <span th:text="${bid.user.name}"></span></p>
    	    
    	    <form method="POST" th:action="@{/feedback/save}">

				<input name="bid_id" type="hidden" th:value="${bid.id}" />

	        	<p><label th:text="#{rating}"></label> 
	        		<select name="rate" style="width: 50px" required="required">
		        		<option>5</option>
		        		<option>4</option>
		        		<option>3</option>
		        		<option>2</option>
		        		<option>1</option>
	        		</select>
	       		</p>
	       		<p><label th:text="#{feedback}"></label></p>
	       		<p><textarea name="feedback" rows="10" cols="100" required="required"></textarea></p>
	       		<p><button class="btn btn-primary" th:text="#{send}"></button></p>

       		</form>

        </div>
    </div>
</div>
</body>
</html>

