<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="frontend/partials/head(title=#{feedback.view.title})">
</head>
<body>
<div th:replace="frontend/partials/menu"></div>
<div class="container main-container">
    <div class="row">
        <div class="col-md-8">
        	<h1 th:text="#{view_feedback}"></h1>
        	
        	<h3 th:text="${bid.job.title}"></h3>
        	<p><span th:text="#{contractor}" class="bold"></span>: <span th:text="${bid.user.name}"></span></p>
    	    <p><span th:text="#{rate}" class="bold"></span>: <span th:text="${feedback.contractorRate}"></span> / 5</p>
    	    <p>
	    	    <span th:text="#{feedback_text}" class="bold"></span>:<br />
	    	    <span th:text="${feedback.contractorFeedback}"></span>
    	    </p>

        	<p><span th:text="#{client}" class="bold"></span>: <span th:text="${bid.job.author.name}"></span></p>
    	    <p><span th:text="#{rating}" class="bold"></span>: <span th:text="${feedback.clientRate}"></span> / 5 </p>
    	    <p>
	    	    <span th:text="#{feedback_text}" class="bold"></span>:<br />
	    	    <span th:text="${feedback.clientFeedback}"></span>
    	    </p>
    	    
    	    <p th:if="${can_post_feedback}">
    	    	<a th:href="@{'/feedback/' + ${bid.id}}" class="btn btn-primary" th:text="#{send_feedback}"></a>
    	    </p>

        </div>
    </div>
</div>
</body>
</html>

