<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="frontend/partials/head(title=${user.name})"></head>
<body>
<div th:replace="frontend/partials/menu"></div>


<div class="container main-container">
    <div class="row">
        <div class="col-md-8">
        	<h1 th:text="#{profile.view_client.title}">Client profile</h1>
            <h3 th:text="${user.name}"></h3>
           
			<div th:if="${profile != null}">
				<div th:if="${ !profile.location.isEmpty() }">
					<p>
						<i class="glyphicon glyphicon-map-marker"> </i>
						<span th:text="${profile.location}"></span>
					</p>
				</div>
				<div th:if="${ !profile.linkedin.isEmpty() }">
					<p>Linkedin: <a th:href="${profile.linkedin}" th:text="${profile.linkedin}"></a></p>
				</div>
				<p class="job-details-description" th:utext="${profile.biography}"></p>
			</div>

            <div th:if="${profile == null}" th:text="#{profile.view_client.no_profile_msg}">
                <p>This user hasn't created profile yet.</p>
            </div>
            
            <div class="bold">
	           	<span th:text="#{hire_rate}">Hire rate</span>:
	           	<span th:text="${hired_jobs}"></span> / <span th:text="${total_jobs}"></span>
            </div>
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8">
            
            <h1 th:text="#{job_history}">Job history</h1>

			<hr />

            <div th:each="jh : ${job_history}">
                
                <p>
	                <a th:href="@{'/job/' + ${jh.job.id}}" th:text="${jh.job.title}"></a>
                </p>
                <div th:if="${jh.feedback != null}">
	                <i class="glyphicon glyphicon-star"></i>
	                <i th:if="${jh.feedback.clientRate &gt; 1}" class="glyphicon glyphicon-star"></i>
	                <i th:if="${jh.feedback.clientRate &gt; 2}" class="glyphicon glyphicon-star"></i>
	                <i th:if="${jh.feedback.clientRate &gt; 3}" class="glyphicon glyphicon-star"></i>
	                <i th:if="${jh.feedback.clientRate &gt; 4}" class="glyphicon glyphicon-star"></i>
	                <p>
		                <span th:text="${jh.feedback.clientFeedback}"></span>
	                </p>
                </div>
                <hr />

            </div>
        </div>
    </div>
    
</div>


</body>
</html>