<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="frontend/partials/head(title='My contracts')">
</head>
<body>
    
    <div th:replace="frontend/partials/menu"></div>
    <div class="container main-container">
        <div class="row">
            <div class="col-md-12">
                

                <table class="table table-stripped">

                    <tr>
                        <th>Job title</th>
                        <th>Price</th>
                        <th> </th>
                    </tr>

                    <tr th:each="bid : ${contracts}">
                    <td th:utext="${bid.job.title}"></td>
                        <td th:utext="${bid.price}"></td>
                         <td><a th:href="@{'/message/job_room/' + ${bid.job.id} + '/' + ${me.id == bid.user.id ? bid.job.author.id : bid.user.id} }" class="btn btn-primary">
                         	Job room &gt;
                       	</a></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

</body>
</html>

