<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="frontend/partials/head(title=${job.title})">
</head>
<!--<div th:include="frontend/partials/head"></div>-->
<body>
<div th:replace="frontend/partials/menu"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            
            <h1>View bids</h1>
            
            <h2 th:text="${job.title}"></h2>
            
            <p>
            	<a th:href="@{'/job/view/' + ${job.id}}" class="btn btn-sm btn-primary">View job</a>
            </p>
            
            <table class="table table-stripped">
                    <tr>
                        <th>User / Rating</th>
                        <th>Price</th>
                        <th>Deadline</th>
                        <th>Proposal</th>
                        <th> </th>
                    </tr>

                    <tr th:each="bid : ${bids}">
                        <td th:text="${bid.user.name}"></td>
                        <td th:text="${bid.price}"></td>
                        <td th:text="${bid.deadline}"></td>
                        <td th:text="${bid.proposal}"></td>
                        <td>
                        	<a class="btn btn-success">
                        		<i class="glyphicon glyphicon-envelope"> </i>
                        		Message
                        	</a>
                       	</td>
                    </tr>

                </table>

        </div>
        
    </div>
</div>
</body>
</html>

