<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="frontend/partials/head(title=${job.title})">
</head>
<!--<div th:include="frontend/partials/head"></div>-->
<body>
<div th:replace="frontend/partials/menu"></div>
<div class="container main-container">
    <div class="row">
        <div class="col-md-8">
            <h1 th:text="${job.title}"></h1>
            <p><span class="badge" th:text="${job.category.name}"></span></p>
            <p>
                <i class="glyphicon glyphicon-time"></i>
                <span th:text="${job.created}"></span>
                /
                <i class="glyphicon glyphicon-usd"></i>
                <span sec:authorize="isAuthenticated()">
                    <span th:if="${job.budget != null}" th:text="${#numbers.formatDecimal(job.budget, 0, 'POINT', 2, 'COMMA')}"></span>
                    (<span th:text="${job.type}"></span>)
                </span>
                <span sec:authorize=" !isAuthenticated()">
                    (hidden)
                </span>
                /
                <span th:text="#{expertize_level}">Expertize level</span>:
                <span th:text="${job.expertizeLevel}"></span>
            </p>
            <div class="job-details-description" th:utext="${job.description}"></div>

            <hr />

            <div sec:authorize="isAuthenticated()">

                <div class="myBid" th:if="${myBid != null}">
                    <h2 th:text="#{job.view.my_bid}">My bid</h2>
                    <p>
                        <i class="glyphicon glyphicon-time"></i>  <span th:text="${myBid.created}"></span><br />
                        <i class="glyphicon glyphicon-usd"></i>  <span th:text="${#numbers.formatDecimal(myBid.price, 0, 'POINT', 2, 'COMMA')}"></span><br />
                        <span th:text="#{job.view.deadline}">Deadline</span>: <span th:text="${myBid.deadline}"></span><br />
                    </p>
                    <div th:utext="${myBid.proposal}" class="job-details-description"></div>
                </div>


                <div  th:if="${myBid == null}">
                    <p th:if="${job.author.id != me.id}">
                    	<a href="javascript: $('#bid-form').slideDown();" class="btn btn-success" th:text="#{job.view.bid}">
                    		Bid
                    	</a>
                    </p>
                    <p th:if="${job.author.id == me.id}">
                    	<a th:href="@{'/job/bids/' + ${job.id}}" class="btn btn-success" th:text="#{job.view.view_bids}">
                    		View bids
                    	</a>
                    </p>
                    <form th:action="@{/bid/save}" method="post" style="display: none;" id="bid-form">

                        <input type="hidden" name="job_id" th:value="${job.id}" />

                        <div class="form-group">
                            <label for="price" th:text="#{price}">Price</label>
                            <input type="number" id="price" name="price" required="required" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="deadline" th:text="#{job.view.bid_form.deadline}">Deadline / durration (optional)</label>
                            <input type="text" id="deadline" name="deadline" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="proposal" th:text="#{job.view.bid_form.proposal}">Proposal</label>
                            <textarea id="proposal" name="proposal" class="form-control" required="required" rows="15"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-lg"  th:text="#{send}">
                                Place a bid
                            </button>
                        </div>
                    </form>

                    <script type="text/javascript">
                            $("#bid-form").on("submit", function(event){
    //                            event.preventDefault();
                                if(!confirm("Are you sure?")){
                                    return false;
                                }

    //                            $(this).submit();
                                return true;
                            });
                    </script>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <h3><a th:href="@{'/profile/client/' + ${job.author.id} }" th:text="${job.author.name}"></a></h3>
            <div sec:authorize="isAuthenticated()">
                <p th:if="${job.author.profile != null}">
                    <i class="glyphicon glyphicon-map-marker"> </i> <span th:text="${job.author.profile.location}"></span> <br />
                    <i th:if="${average_client_feedback_rate &gt; 0}" class="glyphicon glyphicon-star"></i>
                    <i th:if="${average_client_feedback_rate &gt; 1}" class="glyphicon glyphicon-star"></i>
                    <i th:if="${average_client_feedback_rate &gt; 2}" class="glyphicon glyphicon-star"></i>
                    <i th:if="${average_client_feedback_rate &gt; 3}" class="glyphicon glyphicon-star"></i>
                    <i th:if="${average_client_feedback_rate &gt; 4}" class="glyphicon glyphicon-star"></i>
                    <span th:text="${average_client_feedback_rate}"></span> / 5 
                    (<span th:text="#{reviews_no}">reviews</span>: <span th:text="${reviews_no}"></span> )
                    <br />
                    <span th:text="#{hire_rate}">Hire rate</span>: <span th:text="${hire_rate}"></span>% 
                    ( <span th:text="${hired_jobs_no}"></span> / <span th:text="${jobs_no}"></span> )
                    <hr />
                    <h3 th:text="#{job_stats}">Job stats</h3>
                    <span th:text="#{bids}">Bids</span>: <span th:text="${bids_no}"></span><br />
                    <!-- Inverviewing: 4 (?) -->
                    <hr />
                </p>
            </div>
            <div sec:authorize=" !isAuthenticated()" th:utext="#{job.view.please_login_text}">
                Login to see client details
            </div>

        </div>
    </div>
</div>
</body>
</html>

